# PROBLEM STATEMENT:
 Data preparation:
 Download heart dataset from following link.
 https://www.kaggle.com/zhaoyingzhu/heartcsv

### Perform following operation on given dataset.
a) Find Shape of Data    

b) Find Missing Values

c) Find data type of each column

d) Finding out Zero's

e) Find Mean age of patients

f) Now extract only Age, Sex, ChestPain, RestBP, Chol. Randomly divide dataset in training 
(75%) and testing (25%).

## Execution/Solutions:

### 1)importing library

In [1]:
import pandas as pd

### 2) read csv file

In [2]:
A=pd.read_csv('Downloads\\Heart.csv')

### 3)Find shape of data

In [3]:
A.shape

(303, 15)

### 4)summary of dataset

In [4]:
A.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

### 5)Additional information of the dataset

In [5]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

### 6) Find data type of each column

In [6]:
A.dtypes

Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

### 7)Find missing value of each column

In [7]:
A.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

### 8)Find out zero's for particular column

In [8]:
(A['ExAng']==0).sum()

204

### 9)Find Mean of  'Age'  patients

In [9]:
A['Age'].mean()

54.43894389438944

### 10) For Finding standard deviation

In [10]:
A["Fbs"].std()

0.35619787492797644

### 11) For Finding zero's

In [11]:
(A.iloc[1:15,1:8]==0).sum()

Age           0
Sex           4
ChestPain     0
RestBP        0
Chol          0
Fbs          11
RestECG       6
dtype: int64

### 12) First Few rows of data

In [12]:
A.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

### 13) Last few rows of data

In [13]:
A.tail()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

### 14)Finding Columns of the Dataset

In [14]:
A.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

### 15) Splitting Dataset into  taining(75%) & testing(25%) parts

In [15]:
X=A[['Age','Sex','ChestPain','RestBP','Chol']]
Y=A['AHD']

In [16]:
import numpy as np

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,train_size=0.75,random_state=42)

In [19]:
Xtrain.shape

(227, 5)

In [20]:
Xtest.shape

(76, 5)

In [21]:
Ytrain.shape

(227,)

In [22]:
Ytest.shape

(76,)

### 16)Rename particular column

In [23]:
A.rename(columns=({ 'MaxHR': 'MaxHR_1', 'Chol': 'Chol_1'}), inplace=True)

In [24]:
A

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol_1,Fbs,RestECG,MaxHR_1,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

### 17) For counting the zero's of each columns

In [25]:
A.count(0)

Unnamed: 0    303
Age           303
Sex           303
ChestPain     303
RestBP        303
Chol_1        303
Fbs           303
RestECG       303
MaxHR_1       303
ExAng         303
Oldpeak       303
Slope         303
Ca            299
Thal          301
AHD           303
dtype: int64

### 18) Replace null value for numeric data

In [26]:
A['Ca']=A['Ca'].replace(np.NaN,A['Ca'].mean())

In [27]:
A

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol_1,Fbs,RestECG,MaxHR_1,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.000000,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.000000,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.000000,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.000000,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.000000,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.000000,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.000000,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.000000,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.000000,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.672241,normal,No

### 19) Replace null value for categorical data

In [28]:
A['Thal']=A['Thal'].fillna('normal')

In [29]:
A

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol_1,Fbs,RestECG,MaxHR_1,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.000000,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.000000,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.000000,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.000000,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.000000,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.000000,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.000000,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.000000,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.000000,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.672241,normal,No

# 20) Replace catogorical value by numeric type

In [30]:
A['AHD'] = A['AHD'].map({'Yes':1 ,'No':0})
# A['AHD'] = A['AHD'].replace({'Yes':1 ,'No':0})

In [31]:
A

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol_1,Fbs,RestECG,MaxHR_1,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.000000,fixed,0
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.000000,normal,1
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.000000,reversable,1
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.000000,normal,0
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.000000,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.000000,reversable,1
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.000000,reversable,1
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.000000,reversable,1
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.000000,normal,1
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.672241,normal,0